body {
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
    color: black;
    text-align: center;
}
section {
  background-color: grey;
  color: white;
  padding: 15px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(84, 83, 83);
  border-radius: 10px;
}
footer {
    text-align: center;
    color: grey;
}
